# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists
* Explore arithmetic expression
* Learn tables

Some of the popular languages that Data Scientists use are:
    1. Python
    2. SQL
    3. R
    4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Seaborn

| Data Science Tools                   |
|--------------------------------------|
| Jupyter Notebook                     |
| RStudio                              |
| Apache Zeppelin                      |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [4]:

(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author
Nick Orlo